#H{
    box-shadow: 0px 0px 10px  rgb(0,0,0,0.5);
    color:rgb(255, 255, 255);
	font-size:80px;	
    background-color: rgba(27, 87, 8, 0.74);
    position: absolute;
    left: 100px;
    padding:20px;
    margin-top:20px;
    top: 20px;
    width: 1250px;

}
#text_1{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    font-size:25px;	
    position: absolute;
    top: 196px; 
    left: 750px;

    color:rgb(255, 255, 255);
    background-color: rgba(27, 87, 8, 0.74);
    padding:20px;
    margin-top:20px;
    width: 600px;
    height: 300px;
}

#p_1{
    position: absolute;
    top: 200px; 
    left:100px;
    
    
    
}

#p_2{
    position: absolute;
    top: 570px; 
    left:100px;
    
}

#p_3{
    position: absolute;
    top: 943px; 
    left:100px;
    
}

#text_2{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    font-size:28px;		
    position: absolute;
    top: 566px; 
    left: 750px;

    color:rgb(255, 255, 255);
    background-color: rgba(27, 87, 8, 0.74);
    padding:20px;
    margin-top:20px;
    width: 600px;
    height: 300px;
}

#text_3{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    font-size:26px;		
    position: absolute;
    top: 939px; 
    left: 750px;
  
    color:rgb(255, 255, 255);
    background-color: rgba(27, 87, 8, 0.74);
    padding:20px;
    margin-top:20px;
    width: 600px;
    height: 300px;
}
#home {
    font-size:32px;	
    position: absolute;
    top: 85px; 
    left: 1000px;
    color:rgb(255, 255, 255);
    width: 300px;
    
}

#map{
    font-size:32px;	
    position: absolute;
    top: 85px; 
    left: 600px;
    color:rgb(255, 255, 255);
    width: 300px;
}




.back_top  {
    position: fixed;
    bottom: 80px;
    left: 34px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    font-size:28px;	
    border-radius: 2px;
    text-decoration: none;
    
    
}

#har{
    
    position: absolute;
    top: 200px; 
    left:100px;
    width: 602px;
    box-shadow: 0px 0px 10px  rgb(0,0,0,0.5);
    font-size:32px;	
    background-color: rgba(27, 87, 8, 0.74);

    
}

#p_4{
    position: absolute;
    top: 1317px; 
    left:430px;
    
}

#dk{
    background-color: rgba(27, 87, 8, 0.74);
    padding:5px;
    font-size:20px;	
    font-weight: bold;
    position: absolute;
    top: 1317px; 
    left:625px;
} 

@media screen and (max-width: 1400px) {

    #H{
        font-size:35px;	
        width: 560px;
     
     }
     #home {
         font-size:25px;	
         top: 68px; 
         left: 480px;
     
         
     }
     #text_1{
         top: 570px; 
         left:100px;
         width:563px;
         font-size:25px;
     }
     #text_2{
         top: 1310px; 
         left: 100px;
         width:563px;
     }
     #text_3{
         top: 2050px; 
         left: 100px;
         width:563px;
         font-size:25px;
     }
     #p_1{
         top: 200px; 
         left:100px;
     }
     #p_2{
         top: 943px; 
         left:100px;
     }
     #p_3{
         top: 1680px; 
         left:100px; 
     }
     #p_4{
         top: 2420px; 
         left:100px; 
     }
     #dk{
         top: 2420px; 
         left:100px; 
     }
     
     }
     
     @media screen and (max-width: 700px) {
     
     #H{
         font-size:25px;	
         width: 560px;
         left:10px;
      
      }
      #home {
          font-size:15px;	
          top: 68px; 
          left: 200px;
      }
     
      #har{
         top: 100px; 
         left:10px;
      }
      #text_1{
         font-size:16px;	
          top: 470px; 
          left:10px;
          width:310px;
      }
      #text_2{
         font-size:18px;	
          top: 1210px; 
          left: 10px;
          width:310px;
      }
      #text_3{
         font-size:17px;	
          top: 1950px; 
          left: 10px;
          width:310px;
      }
      #p_1{
          top: 100px; 
          left:10px;
     
      }
      #p_2{
          top: 840px; 
          left:10px;
      }
      #p_3{
          top: 1580px; 
          left:10px; 
      }
      #p_4{
          top: 2320px; 
          left:10px; 
      }
      #dk{
          top: 2320px; 
          left:10px; 
      }
      .back_top  {
         
         bottom: 10px;
         left: 10px;
         background: #f5f5f552;
     
     }
      
     }